The following uses data from: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36/data
1. I posted the data in the same folder as this assignment and under datasest as United_States_COVID-19_Cases_and_Deaths_by_State.csv, since this site changes it often.  I converted the types of some of the columns to make this assignment easier for you.
2. Read the site so that you understand what the data is about.
4. Comments below indicate the python coding questions (output is there too!)
NOTE THAT I HAVE ANSWERS BELOW EACH QUESTION. THESE ARE BASED ON MY DOWNLOAD FROM 2/16/2022 and the file that is in this folder.

In [1]:
#1. import numpy and pandas

In [2]:
#2. read the file "United_States_COVID-19_Cases_and_Deaths_by_State.csv" into a dataframe 
#named df  PLEASE MAKE SURE TO NAME YOUR DATAFRAME df so that I can test your code!

In [3]:
#3. show the types of all columns in your dataframe

submission_date     object
state               object
tot_cases          float64
conf_cases         float64
prob_cases         float64
new_case           float64
pnew_case          float64
tot_death          float64
conf_death         float64
prob_death         float64
new_death          float64
pnew_death         float64
created_at          object
consent_cases      float64
consent_deaths     float64
dtype: object

In [4]:
#4. execute the following line of code. It changes the dates to date type from object type
df[['submission_date', 'created_at']] = df[['submission_date', 'created_at'
 ]].apply(pd.to_datetime, errors = 'coerce')

In [5]:
#4. continued...now show the types of all columns again

submission_date    datetime64[ns]
state                      object
tot_cases                 float64
conf_cases                float64
prob_cases                float64
new_case                  float64
pnew_case                 float64
tot_death                 float64
conf_death                float64
prob_death                float64
new_death                 float64
pnew_death                float64
created_at         datetime64[ns]
consent_cases             float64
consent_deaths            float64
dtype: object

In [6]:
#5. show the first five rows in the dataframe

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2021-03-11,KS,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,2021-03-12 15:20:13,NaN,NaN
1,2021-02-12,UT,NaN,NaN,0.0,NaN,0.0,NaN,NaN,56.0,11.0,2.0,2021-02-13 14:50:08,NaN,NaN
2,2021-03-01,CO,NaN,NaN,NaN,677.0,60.0,NaN,NaN,734.0,1.0,0.0,2021-03-01 00:00:00,NaN,NaN
3,2020-02-04,AR,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,2020-03-26 16:22:39,NaN,NaN
4,2020-08-22,AR,NaN,NaN,NaN,547.0,0.0,674.0,NaN,NaN,11.0,0.0,2020-08-23 14:15:28,NaN,NaN

In [7]:
#6. how many rows are there in the dataframe?

45300

In [8]:
#7. print out the names of the columns (here it is as a list, 
#but yours does not have to look exaclty like this one)

['submission_date',
 'state',
 'tot_cases',
 'conf_cases',
 'prob_cases',
 'new_case',
 'pnew_case',
 'tot_death',
 'conf_death',
 'prob_death',
 'new_death',
 'pnew_death',
 'created_at',
 'consent_cases',
 'consent_deaths']

In [9]:
#8. how many unique 'states' are listed?

60

In [10]:
#9. print a list of the unique states in sorted order (or a numpy array of the states sorted)

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'FSM', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA',
       'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND',
       'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'NYC', 'OH', 'OK', 'OR', 'PA',
       'PR', 'PW', 'RI', 'RMI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI',
       'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [11]:
#10. select from the dataframe
#print out all rows of covid where the state is exactly 'NYC'

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
14,2021-09-23,NYC,NaN,NaN,NaN,NaN,168.0,NaN,NaN,NaN,20.0,-7.0,2021-09-24 13:56:18,NaN,NaN
38,2021-06-28,NYC,NaN,NaN,NaN,160.0,26.0,NaN,NaN,NaN,2.0,1.0,2021-06-29 14:25:53,NaN,NaN
103,2020-04-05,NYC,NaN,NaN,876.0,NaN,166.0,NaN,NaN,869.0,664.0,166.0,2020-04-03 00:00:00,NaN,NaN
108,2020-10-09,NYC,NaN,NaN,NaN,626.0,84.0,NaN,NaN,NaN,4.0,0.0,2020-10-07 00:00:00,NaN,NaN
126,2021-08-13,NYC,NaN,NaN,NaN,NaN,392.0,NaN,NaN,NaN,9.0,5.0,2021-08-14 14:46:52,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42163,2020-02-03,NYC,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,2020-03-26 16:22:39,NaN,NaN
42245,2021-11-04,NYC,NaN,NaN,NaN,937.0,227.0,NaN,NaN,NaN,12.0,-2.0,2021-11-05 14:19:47,NaN,NaN
42252,2021-01-12,NYC,NaN,NaN,NaN,NaN,990.0,NaN,NaN,NaN,56.0,4.0,2021-01-10 00:00:00,NaN,NaN
42276,2020-11-04,NYC,NaN,NaN,NaN,NaN,330.0,NaN,NaN,NaN,10.0,0.0,2020-11-02 00:00:00,NaN,NaN
42278,2020-11-18,NYC,NaN,NaN,NaN,NaN,527.0,NaN,NaN,NaN,10.0,0.0,2020-11-16 00:00:00,NaN,NaN

In [12]:
#11. print out how many rows in the dataframe are about 'NYC' 
#(if you want more information there, and not just the number, that is fine too!)

755

In [13]:
#12. how many weeks did NYC have new deaths more than 500 
#in other words: print out how many rows are about 'NYC' with 'new_death' more than 500
#hint: one way to do this: you can use & (for conjunction to check multiple conditions on rows

17

In [14]:
#13. what is the lastest date that NYC had > 500 deaths

Timestamp('2020-04-20 00:00:00')

In [15]:
#14. give the list of weeks (submission_date)  (can be a list or numpy array or series) where NYC had more cases than 1000
# to do this, you need to add the new_case and pnew_case -- you can make a new column or not!

261     2021-05-12
1940    2021-07-23
2083    2021-07-25
2163    2021-05-07
3956    2021-07-21
4857    2021-07-24
4954    2021-05-03
5653    2020-10-31
5873    2021-10-17
36146   2021-10-25
36791   2021-10-15
36941   2021-05-09
37122   2020-10-28
37170   2021-10-11
37702   2021-10-16
39499   2020-10-29
39561   2021-07-19
39787   2021-11-02
40098   2021-05-08
40231   2020-11-01
41752   2020-10-24
41885   2021-10-21
42245   2021-11-04
Name: submission_date, dtype: datetime64[ns]

In [16]:
#15. how many new death alltogether in each state -- using the new_death column (hint: use groupby and sum)

state
AK       938.0
AL     17656.0
AR      9817.0
AS         0.0
AZ     27181.0
CA     80848.0
CO     11634.0
CT     10260.0
DC      1309.0
DE      2505.0
FL     67911.0
FSM        0.0
GA     33752.0
GU       305.0
HI      1250.0
IA      8829.0
ID      4577.0
IL     35998.0
IN     22186.0
KS      7860.0
KY     13416.0
LA     16217.0
MA     22856.0
MD     13925.0
ME      1849.0
MI     28018.0
MN     11791.0
MO     15230.0
MP        25.0
MS     10396.0
MT      3046.0
NC     21781.0
ND      2165.0
NE      3435.0
NH      2294.0
NJ     30575.0
NM      6467.0
NV      9335.0
NY     26941.0
NYC    39417.0
OH     31242.0
OK     11769.0
OR      6373.0
PA     42247.0
PR      4021.0
PW         4.0
RI      3388.0
RMI        0.0
SC     16241.0
SD      2742.0
TN     21303.0
TX     81030.0
UT      4290.0
VA     17614.0
VI       106.0
VT       546.0
WA     11373.0
WI     12930.0
WV      5840.0
WY      1667.0
Name: new_death, dtype: float64

In [17]:
#16. using your answer above, add NYC and NY to get total for NYS (or do it any other way --
#we want total new_death in NYC)

66358.0

In [18]:
#17. using your answer from the groupby above, which three states had the most new_deaths?
#using slicing to get the last three from a sorted list

state
FL    67911.0
CA    80848.0
TX    81030.0
Name: new_death, dtype: float64