In [35]:
import numpy as np
import pandas as pd
pres = pd.read_csv("..\\..\\Documents\\Teaching\\CSC 245\\data\\Presidents\\president_heights.csv")

In [4]:
pres.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [5]:
#pres.loc[pres['height(cm)'] > 188, 'name'] = 'Junk'

In [8]:
#pres['name'] == 'Junk'

In [5]:
pres.loc[2,'name']

'Thomas Jefferson'

In [6]:
pres.iloc[2, 2]

189

In [7]:
pres.loc[2, 'name'] = 'Junk'

In [8]:
pres.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3               Junk         189
3      4      James Madison         163
4      5       James Monroe         183

In [9]:
tall_names = pres.loc[pres['height(cm)'] > 188, 'name']

In [10]:
tall_names

0     George Washington
2                  Junk
15      Abraham Lincoln
33    Lyndon B. Johnson
42         Donald Trump
Name: name, dtype: object

In [11]:
tall_names[0]

'George Washington'

In [12]:
tall_names[0] = 'NewJunk'

In [13]:
tall_names

0               NewJunk
2                  Junk
15      Abraham Lincoln
33    Lyndon B. Johnson
42         Donald Trump
Name: name, dtype: object

In [20]:
short_names = pres[pres['height(cm)']< 170]['name']

In [21]:
short_names

3         James Madison
7      Martin Van Buren
21    Benjamin Harrison
Name: name, dtype: object

In [22]:
short_names[3] = 'NewerJunk'

C:\Users\sarah\AppData\Local\Temp/ipykernel_10056/3981549646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_names[3] = 'NewerJunk'

In [23]:
short_names

3             NewerJunk
7      Martin Van Buren
21    Benjamin Harrison
Name: name, dtype: object

In [24]:
short_names = pres[pres['height(cm)']< 170].copy()['name']

In [25]:
short_names

3         James Madison
7      Martin Van Buren
21    Benjamin Harrison
Name: name, dtype: object

In [27]:
#it is best to never to try and infer whether a subset of a DataFrame if a view or a copy until you have explicitly made a copy with .copy().
#if you make a slice for any purpose other than immediately analyzing, you should add .copy() to that slice

In [33]:
short_names._is_view

True

In [34]:
tall_names._is_view

False

In [36]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy